html {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Syne+Tactile&family=Syne:wght@400;500;600;700;800&display=swap');
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
